
@{
    ViewData["Title"] = "Index";
}
    <head>
        <link rel="stylesheet" href="~/css/jquery.orgchart.css">
        <link rel="stylesheet" href="~/css/styletree1.css">
        <script type="text/javascript" src="~/js/jquery.min.js"></script>
        <script type="text/javascript" src="~/js/jquery.orgchart.js"></script>
        <script type="text/javascript">
            $(function () {

                $.get("api/Tree/3", null, function (data) {
                    $('#chart-container').orgchart({
                        'data': data,
                        'nodeContent': 'title'
                    });

                })


            });
        </script>
    </head>
<h1>Index</h1>

